.dvdWrap {
  padding: 10px;
}
.dvdCase {
  border-radius: 10px;
  background-color: #0090ce;
  padding: 2px 4px 3px 2px;
}
.dvd {
  width: 150px;
  height: 187.5px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer;
}