@use "../../../CSS/color.module";
@use "../../../CSS/dimension.module";

.div0 {
  padding: 8px 0;
}

@media screen and (min-width: 460px) {
  .div0 {
    width: 50%;
  }
}

.input {
  margin: 0;
  appearance: none;
  border: none;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  font-size: dimension.$fontSize14;
  height: 24px;
  padding: 0 2px;
  box-shadow: 0 3px 0 -2px color.$underscoreLightGray;
  transition: box-shadow 0.2s;
}

.input:focus {
  box-shadow: 0 3px 0 -1px color.$formTheme;
}