@use "../../CSS/color.module";

.homeDiv {
  position: absolute;
  top: 5px;
  left: 10px;
  cursor: pointer;
}
.book {
  background: color.$pageGray;
}

.paginationDiv {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.keyboardDiv {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 5px 0;
  background-color: color.$pageGray;
}

.words {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttonDiv {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}
