
.homeDiv {
  position: absolute;
  top: 5px;
  left: 10px;
  cursor: pointer;
}

.paginationDiv {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.moments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
