.header {
  font-size: 50px;
  line-height: 52px;
  font-weight: 600;
  letter-spacing: -2px;
  color: #0a2540;
}

.text {
  font-size: 18px;
  margin: 32px 0;
  color: #425466;
  max-width: 600px;
}

.introText {
  max-width: 800px;
}

@media screen and (min-width: 500px) {
  .header {
    font-size: 60px;
    line-height: 64px;
  }
}

@media screen and (min-width: 800px) {
  .header {
    font-size: 70px;
    line-height: 74px;
  }
}